<div class="main-wrapper">
  <div class="login-panel">
    <h2 class="title">SignUp</h2>
    
    <form #registerForm="ngForm">
        <table >
      <tr><td><div>
        <label>First Name:</label>
        <input  style="width:250px" [uiInput] name="first-name" [(ngModel)]="customer.firstName" required #firstName="ngModel">
      </div></td>
      <td > <div class="second">
        <label>Last Name:</label>
        <input  style="width:250px" [uiInput] name="last-name" [(ngModel)]="customer.lastName"  >
      </div></td></tr>
      <tr><td ><span class="help-block col-sm-offset-4" *ngIf="firstName.invalid && firstName.touched" style=" font-size:13px;color:red">
          *Please Enter First Name
       </span></td>
       
      
      </tr>
      <tr><td><div>
        <label>Email address</label>
        <input [uiInput] name="email" [(ngModel)]="customer.emailId" required #emailId="ngModel" email>
      </div></td>
      <td > <div class="second">
        <label >Mobile No.:</label>
        <input [uiInput] name="mobile" [(ngModel)]="customer.mobileNumber" required #mobile="ngModel" pattern="[7-9]{1}[0-9]{9}">
      </div></td></tr>
      <tr><td><span class="help-block col-sm-offset-4" *ngIf="emailId.invalid && emailId.touched" style=" font-size:13px;color:red">
          *Please Enter Valid EmailId
       </span></td>
       <td class="second"><span class="help-block col-sm-offset-4" *ngIf="mobile.invalid && mobile.touched" style=" font-size:13px;color:red" >
          *Please Enter Valid Mobile No.
       </span></td></tr>
      <tr><td> <div>
        <label >Address Line 1:</label>
        <input [uiInput] name="addressLine1" [(ngModel)]="customer.address.addressLine1" required #address="ngModel" maxlength="70">
      </div></td>
      <td  class="second"><div>
        <label>Address Line 2:</label>
        <input [uiInput] name="addressLine2" [(ngModel)]="customer.address.addressLine2">
      </div></td></tr>
      <tr><td><span class="help-block col-sm-offset-4" *ngIf="address.invalid && address.touched" style=" font-size:13px;color:red">
          *Please Enter Address
       </span></td></tr>
      <tr><td> <div>
          <label>City:</label>
        <input [uiInput] name="city" [(ngModel)]="customer.address.city"  required #city="ngModel">
      </div></td>
      <td  class="second"><div >
        <label >State:</label>
        <input [uiInput] name="state" [(ngModel)]="customer.address.state"  required #state="ngModel">
      </div></td></tr>

      <tr><td><span class="help-block col-sm-offset-4" *ngIf="city.invalid && city.touched" style=" font-size:13px;color:red">
          *Please Enter City
       </span></td>
       <td class="second"><span class="help-block col-sm-offset-4" *ngIf="state.invalid && state.touched" style=" font-size:13px;color:red" >
          *Please Enter State
       </span></td></tr>
      <div>
        <label>Pincode:</label>
        <input [uiInput] name="pincode" [(ngModel)]="customer.address.pincode" required #pincode="ngModel" pattern="[0-9]{6}">
      </div>
      <div><span class="help-block col-sm-offset-4" *ngIf="pincode.invalid && pincode.touched" style=" font-size:13px;color:red"  >
          *Please Enter Valid Pincode of length 6
       </span></div>
      <div>
        <label>Password:</label>
        <input type="password" [uiInput] name="password" [(ngModel)]="customer.password" #password="ngModel" required minlength="8">
      </div>
      <div><span class="help-block col-sm-offset-4" *ngIf="password.invalid && password.touched" style=" font-size:13px;color:red"  >
          *Password should be of minimum length 8
       </span></div>
      <div>
        <label>Confirm Password:</label>
        <input type="password" [uiInput] name="confirm-password" [(ngModel)]="confirmPassword" required #confirm="ngModel">
      </div>

      <div><span *ngIf="confirm.touched && customer.password!=confirmPassword" style=" font-size:13px;color:red"  >
          *Passwords do not match!!
       </span></div>
    </table>
    </form>
    <div class="login-box">
      <button class="login" [disabled]="registerForm.invalid">Continue</button>
    </div>
    
    <div class="policy">
      <p>
        By proceeding, you are confirming that you agree to our Terms and Conditions and Privacy Policy.
      </p>
    </div>
    <div>
      <p>
        Already have  an account?Go to <a routerLink="../sign-in">Login page</a>
      </p>
    </div>
  </div>
</div>
