<div>
  <form #passwordForm="ngForm">
    <table>
      <tr>
        <td><label>
            Current Password
          </label>
        </td>
        <td>
          <input type="password" class="myclass" name="currentPassword" [(ngModel)]="currentPassword" required #currentPassword1="ngModel" minlength="8">
        </td>
        <td ><span class="help-block col-sm-offset-4" *ngIf="currentPassword1.invalid && currentPassword1.touched" style=" font-size:13px;color:red">
            *Please Enter Valid Password
         </span></td>
      </tr>
      <br>
      <tr>
        <td>
          <label>
            New Password

          </label>
        </td>
        <td>
          <input type="password" class="myclass" name="newPassword" [(ngModel)]="newPassword" required #newPassword1="ngModel" minlength="8">
        </td>
        <td ><span class="help-block col-sm-offset-4" *ngIf="newPassword1.invalid && newPassword1.touched" style=" font-size:13px;color:red">
            *Password should be of minimum length 8
         </span></td>
      </tr>
      <br>
      <tr>
        <td>
          <label>
            Confirm New Password

          </label>
        </td>
        <td>
          <input type="password" class="myclass" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        </td>
        <td style="color:red">{{message}}</td>
      </tr>

    </table>
    <br>
    <button [disabled]="passwordForm.invalid" (click)="submit1()" class="btn-3d-sub">change password</button>

    
  </form>



</div>