

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


 <div class="main-wrapper">
    <nav class="navbar navbar-expand-sm ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-centered">
      <a class="nav-link" [routerLink]="['/products']" [queryParams]="{category:'electronics'}" >Electronics</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" [routerLink]="['/products']" [queryParams]="{category:'healthcare'}" >Healthcare</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" [routerLink]="['/products']" [queryParams]="{category:'grocery'}">Grocery</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" [routerLink]="['/products']" [queryParams]="{category:'books'}">Books</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" [routerLink]="['/products']" [queryParams]="{category:'automobiles'}">Automobiles</a>
    </li>
    <li class="nav-centered" style="float: right">
      <a  class="nav-link" [routerLink]="['/chat']">LiveChat</a>
     </li>
  </ul>
</div>
</nav>


<!--Bootstrap-->

<app-slidermainpage></app-slidermainpage>


<!--Bootstrap end-->







  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Hot Offers</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
    
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/p4-1.jpg">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/p5-1.jpg">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/p6-2.jpg">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
    </div>
  </div>

  <div class="trent-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>On Trend</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/p9-1.jpg">
        </div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/p8-1.jpg">
        </div>
        <button>SHOP NOW</button>
      </div>
    </div>
  </div>

  <div class="shipping">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Shopping Made Easy</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="shipping-box">
      <div class="element">Free shipping<br> when you spend<br> over $30</div>
      <div class="element">30 Day<br> Returns</div>
      <div class="element">Hey Student.<br> GET 30% OFF!</div>
    </div>
  </div>
</div>

<div class="subscribe">
  <div class="main-wrapper">
    <div class="subscribe-box">
      <div class="title">
        Subscribe now & get 20% off on your first order!
      </div>
      <div class="join">
        <input type="text" placeholder="Enter your email" [(ngModel)]="inputModel">
        <button>Join</button>
      </div>
    </div>
  </div>
</div>
