@import "params";
@import "common";

:host {
  margin: $grid*6 0;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-panel {
  border: 1px solid $mercuryColor;
  box-sizing: border-box;
  box-shadow: 0 0 6px 0 rgba(225, 225, 225, 0.7);
  border-radius: 4px;
  margin: 0 $grid*3;
  padding: $grid*4;
  width: 50%;
}

.title {
  font-weight: 400;
  font-size: 1.9rem;
  margin-bottom: 15px;
  // text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: $grid*1.5;
}

input {
  margin-bottom: $grid*2.5;
}

.forgotten-password {
  text-align: center;
  a {
    text-decoration: none;
    color: $textColor;
  }
}

.login-box {
  margin: $grid*2.5 0;
  text-align: center;
}

.login {
  background: $primaryColor;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  // padding: 0 $grid*3;
  // text-transform: uppercase;
  &:hover{
    box-shadow: 0 5px 30px rgba(79, 70, 228, 0.8);
  }
  
}
.login1 {
  background: $primaryColor;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  // padding: 0 $grid*3;
  // text-transform: uppercase;
  &:hover{
    box-shadow: 0 5px 30px rgba(79, 70, 228, 0.8);
  }
  
}

@media (max-width: 700px) {
.container{
  align-items: center;
  flex-direction: column;
}
  .login-panel{
    flex-grow: 1;
    margin: $grid*2 0;
    width: 80%;
  }
}

@media (max-width: 500px) {
  .login-panel{
    width: 100%;
  }
}
