<div class="top-bar">
  <div class="main-wrapper">
      <a class="nav-link" routerLink="/"><img src="../../../assets/logo.png" alt="Smiley face" width="60" height="50"></a>
      
    <div class="search" >
       
      <input type="text"  placeholder="Search for product" [(ngModel)]="listFilter">
      <button>
        <kit-icon [name]="'search'" size="20px"></kit-icon>
      </button>
    </div>
    <!-- <div  align= "center" routerLink="/">Welcome to Online shoping</div>&nbsp;&nbsp; -->
    <div class="account">
      <a routerLink="/auth/sign-in">
        <kit-icon [name]="'avatar'" size="25px"></kit-icon>
      </a>
      <a routerLink="/bag">
        <kit-icon [name]="'shopping-cart'" size="25px"></kit-icon>
        <label>2</label>
      </a>
      
     <a routerLink="/bag">
        <!-- <img src="../../../assets/wishlist.png" alt="Smiley face" width="40" height="40"> -->
        <kit-icon [name]="'wishlist'" size="25px"></kit-icon>
        <label>2</label>
      </a>
      
    </div>
  </div>
</div>


