<div class="main-wrapper">
  <div class="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
       </ul>
  </div>
  <div class="list-page-container">
    <div class="main-content">
      <div class="search-result-options">
  
              <div class="sort">
              
              <h4>Sort By</h4>
              <form>
                              
              <input type="radio"  [(ngModel)]="selectedOption" name="sort" value="lowtohigh" 
              (click)="lowtohigh()">Low to High &nbsp;&nbsp;
               
               
              <input type="radio"   [(ngModel)]="selectedOption" name="sort" value="hightolow"
              (click)="hightolow()">High to Low &nbsp; &nbsp;
           
              <input type="radio" [(ngModel)]="selectedOption" name="sort"value="mostviewed"
              (click)="mostViewed()">Most Viewed &nbsp;&nbsp;
           
              <input type="radio"  [(ngModel)]="selectedOption" name="sort" value="bestSeller"
              (click)="bestSellers()"> Best Seller
            
              <br>
              <br>
         


             
              Range: 
              <br>
              
              Min:
              <input type="text" name="min" [(ngModel)]='range.min' class="myclass">
              To
              Max:
              <input type="text" name="max" [(ngModel)]='range.max' class="myclass">
        



              <input type="submit" value="Go" (click)="inRange(range)" class="button5">
              </form>
            
              </div>  
               
              
        
      </div>
      <div class="list-cards">
          <!-- <div *ngFor="let product of filteredProducts | sort : 'price'" class="card"> -->
           
          <div *ngFor="let product of products " class="card">
          <app-card [product]="product"></app-card>
          
        </div>
      </div>
<!-- 

      <div *ngFor="let product of sortedproducts" class="card">
          <label>{{product.productName}}</label>
          
          </div>  -->

   
    </div>

  </div>
</div>
