<div class='container-fluid well'>
  <div class='page-header'>
    <h2>{{pageTitle}}</h2>
  </div>
  <div class='panel-body'>
    <form class="form-horizontal" (ngSubmit)="doCardPayment()" #cardPaymentForm="ngForm">

      <div class="form-group" [class.has-error]="
      cardNumberControl.invalid && cardNumberControl.touched">
      <!-- <div class="form-group" [class.has-error]="
      cardNumber1Control.invalid && cardNumber1Control.touched &&
      cardNumber2Control.invalid && cardNumber2Control.touched &&
      cardNumber3Control.invalid && cardNumber3Control.touched &&
      cardNumber4Control.invalid && cardNumber4Control.touched"> -->
        <label for="cardNumber" class="control-label col-sm-4">Card Number:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" name="cardNumber" size="4" required [(ngModel)]='cardNumber' #cardNumberControl="ngModel"
              class="form-control">
          <!-- <mat-form-field>
            <input type="text" name="cardNumber1" size="4" required [(ngModel)]='cardNumber1' #cardNumber1Control="ngModel"
              class="form-control" matInput (change)="navigateToAnotherCardNumberField(1)">
            <input type="text" name="cardNumber2" size="4" required [(ngModel)]='cardNumber2' #cardNumber2Control="ngModel"
              class="form-control" matInput (change)="navigateToAnotherCardNumberField(2)">
            <input type="text" name="cardNumber3" size="4" required [(ngModel)]='cardNumber3' #cardNumber3Control="ngModel"
              class="form-control" matInput (change)="navigateToAnotherCardNumberField(3)">
            <input type="text" name="cardNumber4" size="4" required [(ngModel)]='cardNumber4' #cardNumber4Control="ngModel"
              class="form-control" matInput (change)="navigateToAnotherCardNumberField(4)">
          </mat-form-field> -->
        </div>
        <!-- <span class="help-block col-sm-offset-4" *ngIf="
      cardNumber1Control.invalid && cardNumber1Control.touched &&
      cardNumber2Control.invalid && cardNumber2Control.touched &&
      cardNumber3Control.invalid && cardNumber3Control.touched &&
      cardNumber4Control.invalid && cardNumber4Control.touched">
          Card Number is required
        </span> -->
        <span class="help-block col-sm-offset-4" *ngIf="
      cardNumberControl.invalid && cardNumberControl.touched">
          Card Number is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="cardHolderName.invalid && cardHolderName.touched">
        <label for="cardHolderName" class="control-label col-sm-4">Card Holder Name:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" placeholder="Card Holder Name" name="cardHolderName" size="20" required [(ngModel)]='card.cardHolderName'
            #cardHolderName="ngModel" class="form-control">
        </div>
        <span class="help-block col-sm-offset-4" *ngIf="cardHolderName.invalid && cardHolderName.touched">
          Card Holder Name is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="cvv.invalid && cvv.touched">
        <label for="cvv" class="control-label col-sm-4">CVV:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" placeholder="CVV" name="cvv" size="20" required [(ngModel)]='card.cvv' #cvv="ngModel"
          class="form-control">
        </div>
        <span class="help-block col-sm-offset-4" *ngIf="cvv.invalid && cvv.touched">
          CVV is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="pin.invalid && pin.touched">
        <label for="pin" class="control-label col-sm-4">PIN:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" placeholder="PIN" name="pin" size="20" required [(ngModel)]='card.pin' #pin="ngModel"
            class="form-control">
        </div>
        <span class="help-block col-sm-offset-4" *ngIf="pin.invalid && pin.touched">
          PIN is required
        </span>
      </div>
      <button type="submit" class="btn btn-success col-sm-offset-4 col-sm-1" [disabled]="cardPaymentForm.invalid">
        <span class="glyphicon glyphicon-log-in"></span>
        Pay
      </button>
    </form>

    <form class="form-horizontal" (ngSubmit)="doNetBankingPayment()" #netBankingPaymentForm="ngForm">
      <div class="form-group" [class.has-error]="userName.invalid && userName.touched">
        <label for="userName" class="control-label col-sm-4">User Name:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" placeholder="User Name" name="userName" size="20" required [(ngModel)]='account.userName'
            #userName="ngModel" class="form-control">
        </div>
        <span class="help-block col-sm-offset-4" *ngIf="userName.invalid && userName.touched">
          User Name is required
        </span>
      </div>
      <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label for="password" class="control-label col-sm-4">Password:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input type="text" placeholder="Password" name="password" size="20" required [(ngModel)]='account.userPassword'
            #password="ngModel" class="form-control">
        </div>
        <span class="help-block col-sm-offset-4" *ngIf="password.invalid && password.touched">
          Password is required
        </span>
      </div>
      <button type="submit" class="btn btn-success col-sm-offset-4 col-sm-1" [disabled]="netBankingPaymentForm.invalid">
        <span class="glyphicon glyphicon-log-in"></span>
        Pay
      </button>
    </form>
  </div>
</div>