<div class="mainBoundary">
      <div class="mainBoundary">
            <div class="heading">
                  <h2>Retail Invoice</h2>
              </div>

            
    <hr>

            <div>
                  <table>
                        <tr>
          <!--                     <td id="merchant">Sold By: {{requiredInvoice.order.orderId}}</td> -->
                              <td id="merchant">Sold By:</td>
                              <td id="order">Invoice No.:</td>
                          </tr>
                        <tr>
                              <td id="merchant">Order Date:</td>
                              <td id="order">Invoice Date:</td>
                          </tr>
                        <tr>
                              <td id="merchant">Billing Address:</td>
                              <td id="order">Shipping Address:</td>
                          </tr>
                    </table>
              </div>

            
    <hr>
            <div>
                  <table>
                        <tr>
                              <td id="productTitle">Product/s</td>
                              <td id="quantityTitle">Qty.</td>
                              <td id="priceTitle">Price</td>
                              <td id="subTotalTitle">Sub-Total</td>
                          </tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                        <tr>&nbsp;</tr>
                    </table>
              </div>

            
    <hr class="lineAfterProducts">

            <div>
                  <table>
                        <tr>
                              <td id="productTitle"></td>
                              <td id="quantityTitle"></td>
                              <td id="grandTotalTitle">Grand Total:</td>
                              <td id="subTotalTitle"></td>
                          </tr>
                    </table>
              </div>

            
    <hr>
        </div>
</div>