<!-- <ul>
  <li><a (click)="activate(1)" (mouseover)="activate(1)">Electronics</a></li>
  <li><a (click)="activate(2)" (mouseover)="activate(2)">Clothing</a></li>
  <li><a (click)="activate(3)" (mouseover)="activate(3)">Books</a></li>
  <li><a (click)="activate(4)" (mouseover)="activate(4)">Beauty/HealthCare</a></li>
  <li><a (click)="activate(5)" (mouseover)="activate(5)">Groceries</a></li>
</ul>

<div *kitOverlay="displayMenu"
     kitPinPosition
     position="bottom"
     [anchor]="menuAnchor"
     [@menuHost]="true">
  <div class="sub"
       [@fade]="true"
       (kitOutsideClick)="displayMenu = false"
       [skip]="menuAnchor">
    <div class="main-wrapper">
      <div *kitSlide="1"
           [@slide]="slideDirection | async"
           class="section"><a routerLink="/products"></a>
        </div>
      </div>
      <div *kitSlide="2"
           [@slide]="slideDirection | async"
           class="section">
        <div>
          <ul id="menu">
            <li><a routerLink="/products/1">Men's</a></li>
            <li><a routerLink="/products">Women's</a></li>
            <li><a routerLink="/products">Kids</a></li>
            <li><a routerLink="/products">babies</a></li>
            <li><a routerLink="/products"><b>View All</b></a></li>
          </ul>
        </div>
      </div>
      <div *kitSlide="3"
           [@slide]="slideDirection | async"
           class="section">
        <div>
          <ul id="menu">
            <li><a routerLink="/products">Novels</a></li>
            <li><a routerLink="/products">Stories</a></li>
            <li><a routerLink="/products">NCERT Books</a></li>
            <li><a routerLink="/products"><b>View All</b></a></li>
          </ul>
        </div>
      </div>
      <div *kitSlide="4"
           [@slide]="slideDirection | async"
           class="section">
        <div>
          <ul id="menu">
            <li><a routerLink="/products">Men's Beauty Products</a></li>
            <li><a routerLink="/products">Women's Beauty Products</a></li>
            <li><a routerLink="/products">Healthcare</a></li>
            <li><a routerLink="/products"><b>View All</b></a></li>
          </ul>
        </div>
        
      </div>
      <div *kitSlide="5"
           [@slide]="slideDirection | async"
           class="section">
        <div>
          <div class="title">
            Groceries
          </div>
          <ul id="menu">
            <li><a routerLink="/products/1">Flours</a></li>
            <li><a routerLink="/products/1">Oils</a></li>
            <li><a routerLink="/products/1">Pulses</a></li>
            <li><a routerLink="/products"><b>View All</b></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

