.title{
    margin-left: 300px;
}

table{
    margin-left: 300px;
    
}

button{
    border-radius: 12px;
    background-color: powderblue;
}

#textbox{

    border-radius: 12px;
    border-color: gray;


}