<div class="main-wrapper">
  <h1>Your Shopping Basket</h1>
  <p>Please review the contents of your basket and click "checkout securely now" when you are happy to proceed.</p>
  <table class="basket-table">
    <thead class="panel-head">
    <tr>
      <th class="description">
        Items
      </th>
      <th class="price">
        Price
      </th>
      <th class="quantity">
        Qty
      </th>
      <th class="subtotal">
        Subtotal
      </th>
      <th class="remove">
        &nbsp;
      </th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
    <tfoot>
   
    </tfoot>
  </table>
  <div class="basket-button">
    <button class="checkout" routerLink="../checkout">Checkout Securely Now</button>
  </div>
</div>
