


<div class="main-wrapper">
  <h1>Payment</h1>
  <div class="instruction">
    <p>Make a secure payment for your order.</p>
    <p class="required-field">* Indicates required field</p>
  </div>

  
<nav class="navbar navbar-expand-sm ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <li class="nav-centered">
      <a class="nav-link" (click)="setPaymentMethod(1)">Credit/Debit Card</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" (click)="setPaymentMethod(2)">Net Banking</a>
    </li>
    <li class="nav-centered">
      <a class="nav-link" (click)="setPaymentMethod(3)">Cash on Delivery</a>
    </li>
  </ul>
</div>
</nav>
  <div class="checkout-box">
    <div class="customer-details">


      <section *ngIf="paymentType === 1">
          <form class="form-horizontal" (ngSubmit)="doCardPayment()" #cardPaymentForm="ngForm">
              <div class="header">
                  <strong>1</strong>
                  <span>Credit/Debit Card</span>
                </div>
                <fieldset>
                  <div class="field">
                    <div class="label-wrap">
                      <label class="required">Card Number:</label>
                    </div>
                    <div class="container">
                      <input type="text" [(ngModel)]="inputModel3"
                      name="cardNumber" size="4" required [(ngModel)]='card.cardNumber' #cardNumberControl="ngModel"
                      class="form-control">
                    </div>
                  </div>
                  <div class="field">
                    <div class="label-wrap">
                      <label class="required">Card Holder Name:</label>
                    </div>
                    <div class="container">
                      <input type="text"[(ngModel)]="inputModel4"
                       name="cardHolderName" size="20" required [(ngModel)]='card.cardHolderName'
                      #cardHolderName="ngModel" class="form-control">
                    </div>
                  </div>
                  <div class="field">
                    <div class="label-wrap">
                      <label class="required">CVV:</label>
                    </div>
                    <div class="container">
                      <input type="text"  [(ngModel)]="inputModel5"
                      name="cvv" size="20" required [(ngModel)]='card.cvv' #cvv="ngModel"
                      class="form-control">
                    </div>
                  </div>
                  <div class="field">
                    <div class="label-wrap">
                      <label>PIN:</label>
                    </div>
                    <div class="container">
                      <input type="text"  [(ngModel)]="inputModel6"
                      name="pin" size="20" required [(ngModel)]='card.pinNumber' #pin="ngModel"
                      class="form-control">
                    </div>
                  </div>
                </fieldset>
          </form>
        
      </section>


      <section *ngIf="paymentType === 2">
        <div class="header">
          <strong>2</strong>
          <span>Net Banking</span>
        </div>
        <fieldset>
          <div class="payment-option">
            <div class="field">
              <div class="label-wrap">
                <label class="required">User Name:</label>
              </div>
              <div class="container">
                <input type="text"[(ngModel)]="inputModel1" 
                [(ngModel)]='account.userName'>
              </div>
            </div>
            <div class="field">
              <div class="label-wrap">
                <label class="required">Password:</label>
              </div>
              
              <div class="container">
                <input type="text" [(ngModel)]="inputModel2"
                [(ngModel)]='account.userPassword'>
              </div>
            </div>
          </div>
        </fieldset>
      </section>

      <section *ngIf="paymentType === 3">
          <div class="header">
            <strong>3</strong>
            <span>Cash on Delivery</span>
          </div>
          <fieldset>
            <div class="delivery-option">
              <div class="field radio">
                <label>
                  <input type="radio" value="1" [(ngModel)]="radioModel">
                  Pay by Cash on Delivery<br>
                </label>
              </div>
            </div>
          </fieldset>
        </section>

      <div class="submit-button">
        <!-- <button class="submit" routerLink="../invoice">Pay</button> -->
        <button class="submit" (click)="payAmount()">Pay</button>
      </div>
    </div>
  </div>
</div>
